name: Docker Image CI - alpine-mpd

on:
  push:
    branches:
      - master
    paths:
      - "alpine-mpd/*"

  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.PAT_GHCR }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./alpine-mpd
        push: true
        tags: chiefy/alpine-mpd:latest

